APP_NAME=GitiSam
BASE_ROUTE=/
BACKEND_API=http://localhost/api
FRONTEND_API_BASE=/api
I18N_LOCALE=fa-IR
I18N_FALLBACK_LOCALE=en-US

FTP_HOST=ftp.tikatest.ir
FTP_PORT=21
FTP_USERNAME=username
FTP_PASSWORD=passwoek
REMOTE_PATH=/public_html
DEPLOY_WEBHOOK_URL=http://domain.com/deploy.php
